SplitViewCollection.xcodeproj/project.xcworkspace/contents.xcworkspacedata
SplitViewCollection.xcodeproj/project.xcworkspace/xcuserdata/jakey.xcuserdatad/UserInterfaceState.xcuserstate
SplitViewCollection.xcodeproj/xcuserdata/jakey.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
SplitViewCollection.xcodeproj/xcuserdata/jakey.xcuserdatad/xcschemes/SplitViewCollection.xcscheme
SplitViewCollection.xcodeproj/xcuserdata/jakey.xcuserdatad/xcschemes/xcschememanagement.plist